<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <mat-nav-list class="nav-list">
       <img src="assets/img/logocat.jpg" alt="Imagem de Nagegação">
       <a mat-list-item routerLink="home">
          <i class="material-ico">home</i>
          Home
       </a>
 
       <a mat-list-item routerLink="funcionarios">
          <i class="material-ico">account_circle</i>
          Funcionarios
       </a>
 
       <a mat-list-item routerLink="/">
          <i class="material-ico">person</i>
          Clientes
       </a>
 
       <a mat-list-item routerLink="/">
          <i class="material-ico">pets</i>
          Pets
       </a>
 
       <a mat-list-item routerLink="/">
          <i class="material-ico">logout</i>
          Logout
       </a>
 
 
 
      </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
       <header></header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>